<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ADMIN</title>

    <script>

        function getpb() {

           allques= document.getElementById("pbques");
           allques.style.display='block';
             recques= document.getElementById("recques");
           recques.style.display='block';
               pbbtn= document.getElementById("pbbtn");
          pbbtn.style.display='block';
           recbtn= document.getElementById("recbtn");
          recbtn.style.display='none';


        }

         function getrec() {
             allques= document.getElementById("pbques");
           allques.style.display='none';
             recques= document.getElementById("recques");
           recques.style.display='block';
            pbbtn= document.getElementById("pbbtn");
          pbbtn.style.display='none';
           recbtn= document.getElementById("recbtn");
          recbtn.style.display='block';

        }

    </script>

</head>
<body bgcolor="black" text="gray">
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<br>

<button onclick="getrec()">record for a user?</button>
&nbsp; &nbsp; &nbsp;
<button onclick="getpb()">playback for a user?</button>

<form method="post" action="" >

    <div id="recques" style="display: none">

    LOGIN:<br>
    <br>  <span align="center"> Username:  <input class="login" type="text" name="adminname" /></span><br>
<br>


Password: <input class="pwd" type="password" name="adminpwd" />
    <br>
<br>

User ID    :   <input class="userid" type="text" name="userid" /><br><br>
User Name  :   <input class="username" type="text" name="username" /><br><br>
Quiz ID    :   <input class="quiznum" type="text" name="quiznum" /><br><br>

    </div>

    <div id="pbques" style="display: none">
    Date    :   <input class="date" type="text" name="date" /><br><br>
Start Question for playback  :   <input class="startq" type="text" name="startq" /><br><br>
End Question for playback    :   <input class="endq" type="text" name="endq" /><br><br>
    </div>



    <div id="recbtn" style="display: none">
<br><br>
 <input name="submit" type="submit" value="record" style="margin:auto;display:block" >
    </div>
<br><br>

 <div id="pbbtn" style="display: none">
 <input name="submit" type="submit" value="playback" style="margin:auto;display:block" >


</div>

</form>


</body>
</html>